.DS_Store
.idea/
*.iml
*.log
*.egg-info/
*.egg
*.whl
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.zst
*.tar.lzo

__pycache__/
venv/
*.pyc
*.pyo
*.pyd
*.db

target/

*.mac
*.class
*.jar
*.war
*.ear
*.class
*.apk
*.dex
*.so
*.dll
*.exe